<odoo>
    <data>
        <menuitem id="main_odoo_basico" name="nivel 0. odoo basico"/>
        <menuitem id="menu_odoo_informacion" name="Menu nivel 1.Información." parent="main_odoo_basico" action="informacion_list_action"/>
        <menuitem id="menu_odoo_suceso" name="nivel 1. Suceso" parent="main_odoo_basico" action="suceso_list_action"/>
    </data>
</odoo>